In [1]:
!python --version

Python 3.10.12

Test notebook to try out the Amazon SageMaker Studio. Lets get a submission to the Spaceship Titatic Kaggle competition.

Lets get the basic data loaded

In [2]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.0.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

Lets get the Kaggle token installed. Manually move the kaggle jason file to the root .kaggle folder.

Lets download the data

In [3]:
!kaggle competitions download -c spaceship-titanic

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
spaceship-titanic.zip: Skipping, found more recently modified local copy (use --force to force download)

Now to unzip it.

In [4]:
# !unzip ./spaceship-titanic.zip

Cool. Lets get the basic data into a dataframe.

In [5]:
import pandas as pd
import numpy as np
tdata = pd.read_csv('train.csv')

In [6]:
tdata.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

Lets get some basic summary statistics going.

In [7]:
tdata.describe(include = 'all')

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
count,8693,8492,8476,8494,8511,8514.000000,8490,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000,8493,8693
unique,8693,3,2,6560,3,NaN,2,NaN,NaN,NaN,NaN,NaN,8473,2
top,0001_01,Earth,False,G/734/S,TRAPPIST-1e,NaN,False,NaN,NaN,NaN,NaN,NaN,Gollux Reedall,True
freq,1,4602,5439,8,5915,NaN,8291,NaN,NaN,NaN,NaN,NaN,2,4378
mean,NaN,NaN,NaN,NaN,NaN,28.827930,NaN,224.687617,458.077203,173.729169,311.138778,304.854791,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,14.489021,NaN,666.717663,1611.489240,604.696458,1136.705535,1145.717189,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,19.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,27.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,38.000000,NaN,47.000000,76.000000,27.000000,59.000000,46.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,79.000000,NaN,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,NaN,NaN

Lets check for missing values

In [8]:
tdata.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [9]:
tdata.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

Ok so we now need to convert some of these 'objects' to boolean to ensure it plays nicely with FastAI.

In [10]:
tdata['VIP']=tdata['VIP'].astype('bool')
tdata['CryoSleep']=tdata['CryoSleep'].astype('bool')

Note: We are basically making the assumption that NA values are 0.

In [11]:
tdata.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep         0
Cabin           199
Destination     182
Age             179
VIP               0
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [12]:
tdata.dtypes

PassengerId      object
HomePlanet       object
CryoSleep          bool
Cabin            object
Destination      object
Age             float64
VIP                bool
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

We basically now need to turns all the bool into uint8 to fix an error with FastAi code.

In [13]:
# # workaround for fastai/pytorch bug where bool is treated as object and thus erroring out.
# for n in tdata:
#     if pd.api.types.is_bool_dtype(tdata[n]):
#         tdata[n] = tdata[n].astype('uint8')

In [14]:
tdata.dtypes

PassengerId      object
HomePlanet       object
CryoSleep          bool
Cabin            object
Destination      object
Age             float64
VIP                bool
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

Cool. Lets get a basic linear regression model going.

In [18]:
cat_vars = list(tdata.select_dtypes(['object','bool']).columns)
cat_vars.remove('Name')
cat_vars.remove('PassengerId')
cat_vars.remove('Transported')
print(cat_vars)

cont_vars = list(tdata.select_dtypes(['int','float']).columns)
print(cont_vars)

not_used_vars = ['Name','PassengerId']
print(not_used_vars)

total_columns = len(cont_vars)+len(cat_vars)+len(not_used_vars)
print(total_columns)
tdata.shape

['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']
['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
['Name', 'PassengerId']
13

(8693, 14)

In [19]:
tdata['Transported'].dtype
# dep_vars = list(tdata.select_dtypes('bool').columns)
dep_vars = ['Transported']
print(dep_vars)

['Transported']

In [20]:
# !pip install fastai
# !conda install -c fastchan fastai

In [34]:
from fastai.tabular import *

Lets get all the basic column names into variables. This will come in handy later.

Lets get a basic tabular pandas model going.

In [ ]:
# for n in tdata:
#     if pd.api.types.is_object_dtype(tdata[n]):
#         tdata[n] = tdata[n].astype('category')

Critical error here!! Make sure you dont pass in strings!! You are trying to pass in the actual objects!!

In [43]:
procs = [Categorify, FillMissing, Normalize]

In [23]:
splits = RandomSplitter(valid_pct=0.2)(tdata)

In [44]:
to = TabularPandas(tdata,splits = splits, do_setup=True, procs = procs,
                   cat_names = cat_vars, cont_names = cont_vars,
                   y_names = dep_vars, y_block = RegressionBlock())
to.show()

In [25]:
to.xs.iloc[:2]

,HomePlanet,CryoSleep,Cabin,Destination,VIP,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
4312,Europa,False,C/144/P,TRAPPIST-1e,False,27.0,267.0,2802.0,0.0,54.0,77.0
969,Mars,False,F/211/P,55 Cancri e,False,3.0,0.0,0.0,0.0,0.0,0.0

In [26]:
to.cats

     HomePlanet  CryoSleep    Cabin    Destination    VIP
4312     Europa      False  C/144/P    TRAPPIST-1e  False
969        Mars      False  F/211/P    55 Cancri e  False
4084     Europa      False  C/137/P    55 Cancri e  False
1735      Earth      False  G/291/S    TRAPPIST-1e  False
8470     Europa      False  C/335/S    TRAPPIST-1e  False
...         ...        ...      ...            ...    ...
3015      Earth      False  G/532/P    55 Cancri e  False
4505      Earth      False  F/904/S    TRAPPIST-1e  False
1233     Europa      False   E/94/S    55 Cancri e  False
4470       Mars      False  F/895/S    TRAPPIST-1e  False
322       Earth      False   F/66/S  PSO J318.5-22  False

[8693 rows x 5 columns]

In [27]:
to.conts

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
4312  27.0        267.0     2802.0           0.0    54.0    77.0
969    3.0          0.0        0.0           0.0     0.0     0.0
4084  54.0          0.0     1832.0           0.0     0.0  1768.0
1735   NaN        181.0        0.0           2.0     0.0   663.0
8470  25.0       6899.0      265.0           0.0  2234.0  2090.0
...    ...          ...        ...           ...     ...     ...
3015   8.0          0.0        0.0           0.0     0.0     0.0
4505  22.0          0.0        0.0           0.0   778.0     0.0
1233  30.0        278.0     3300.0           0.0  8145.0  2519.0
4470  36.0        850.0        NaN         454.0     0.0     0.0
322   26.0        148.0        0.0         453.0     0.0    88.0

[8693 rows x 6 columns]

In [28]:
to.xs

,HomePlanet,CryoSleep,Cabin,Destination,VIP,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
4312,Europa,False,C/144/P,TRAPPIST-1e,False,27.0,267.0,2802.0,0.0,54.0,77.0
969,Mars,False,F/211/P,55 Cancri e,False,3.0,0.0,0.0,0.0,0.0,0.0
4084,Europa,False,C/137/P,55 Cancri e,False,54.0,0.0,1832.0,0.0,0.0,1768.0
1735,Earth,False,G/291/S,TRAPPIST-1e,False,NaN,181.0,0.0,2.0,0.0,663.0
8470,Europa,False,C/335/S,TRAPPIST-1e,False,25.0,6899.0,265.0,0.0,2234.0,2090.0
...,...,...,...,...,...,...,...,...,...,...,...
3015,Earth,False,G/532/P,55 Cancri e,False,8.0,0.0,0.0,0.0,0.0,0.0
4505,Earth,False,F/904/S,TRAPPIST-1e,False,22.0,0.0,0.0,0.0,778.0,0.0
1233,Europa,False,E/94/S,55 Cancri e,False,30.0,278.0,3300.0,0.0,8145.0,2519.0
4470,Mars,False,F/895/S,TRAPPIST-1e,False,36.0,850.0,NaN,454.0,0.0,0.0
322,Earth,False,F/66/S,PSO J318.5-22,False,26.0,148.0,0.0,453.0,0.0,88.0

Lets create a dataloader

In [29]:
to.cats.dtypes

HomePlanet     category
CryoSleep          bool
Cabin          category
Destination    category
VIP                bool
dtype: object

SO! The following cell was just to resolve the error I got using FastAI. Critical error was not passing in proc objects - I kept sending in strings!

In [46]:
tensor(to.cats)

tensor([[   2,    1,  664,  ...,    1,    1,    1],
        [   3,    1, 3445,  ...,    1,    1,    1],
        [   2,    1,  654,  ...,    1,    1,    1],
        ...,
        [   2,    1, 2175,  ...,    1,    1,    1],
        [   3,    1, 4401,  ...,    1,    1,    1],
        [   1,    1, 4067,  ...,    1,    1,    1]], dtype=torch.int16)

In [47]:
dls = to.dataloaders(path = '.')
dls.show_batch()