Testing out ipython notebooks running locally

Lets figure out how to import a basic dataset

https://www.openml.org/search?type=data&status=active&id=553

What is ARFF format?
https://datahub.io/blog/attribute-relation-file-format-arff

How do I import it?
https://discuss.analyticsvidhya.com/t/loading-arff-type-files-in-python/27419

In [28]:
import pandas as pd
from scipy.io import arff

data = arff.loadarff('kidney.arff')
df = pd.DataFrame(data[0])

df.head()

   patient  time status   age        sex            disease_type  frailty
0      1.0   8.0   b'1'  28.0    b'male'                b'Other'      2.3
1      1.0  16.0   b'1'  28.0    b'male'                b'Other'      2.3
2      2.0  23.0   b'1'  48.0  b'female'  b'Glomerulo_Nephritis'      1.9
3      2.0  13.0   b'0'  48.0  b'female'  b'Glomerulo_Nephritis'      1.9
4      3.0  22.0   b'1'  32.0    b'male'                b'Other'      1.2

So the 'b' is appended because the pandas library interpreted the byte strings as byte objects. This needs to be converted into regular strings. This can be done by iterating over it and decoding it one at a time.

In [25]:
#dtype is specific to NumPy and Pandas
print(df.columns.dtype.name)
print(df[column].dtype.name)
print(df.dtypes)
print(type(df.iloc[1,1]))



#type() is a generic python command
print(type(df))
print(type(df[column]))

object
object
patient         object
time            object
status          object
age             object
sex             object
disease_type    object
frailty         object
dtype: object
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

So now we need to clean up the data and give it the right types.

In [26]:
#Convert all columns into strings
# for column in df.columns:
#     df[column] = df[column].astype('str')

# df.head()

#Convert column 1,2,4,5 into int32

  patient  time status   age     sex         disease_type frailty
0     1.0   8.0      1  28.0    male                Other     2.3
1     1.0  16.0      1  28.0    male                Other     2.3
2     2.0  23.0      1  48.0  female  Glomerulo_Nephritis     1.9
3     2.0  13.0      0  48.0  female  Glomerulo_Nephritis     1.9
4     3.0  22.0      1  32.0    male                Other     1.2

In [27]:
print(df.dtypes)

patient         object
time            object
status          object
age             object
sex             object
disease_type    object
frailty         object
dtype: object